<!DOCTYPE html>
<html>
    <header>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="/css/profil.css" rel="stylesheet" type="text/css">
    </header>
    <body>
        <div class="container" >
            <h4 style="margin-top: 30px">Welcome  <%=  User.name %></h4>
            <%= User._id %>
            <p>select multipal image</p>
            <div class="form-group">
            <form method="POST" action="/multiUplod" enctype="multipart/form-data">
                <input type="hidden" value="<%- User.profile %>" name="oldimage">
                <input type="hidden" name="name"   value="<%- User.name %>">
                <input type="hidden" name='ID'  value="<%- User._id %>" >
                <input type="file" class="form-control" accept="image/*" name="photo" multiple><br>
                <input type="submit" name="submit" value="Uplode" class="btn btn-success">
                <a class="btn btn-warning" href="/">Close</a>
                <a class="btn btn-info" href="/gallery"> Show image</a>
                <a class="btn btn-light" href="/logout">log out </a>
            </form>
            </div>
        </div>

       </body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
</html>